<div class="m-3">
  <p>Chi siamo?</p>
  <p>
    Siamo Pana, Zordy e Ibra, tre ragazzi accounati dalla passione per il
    basket, grazie al quale ci siamo conosciuti, e per la musica.
  </p>
  <p>Com'è nata l'idea del gruppo? Qual è il nostro obiettivo?</p>
  <p>
    A febbraio 2020, spinto da Pana, Ibra inizia a imparare a produrre musica FL
    in studio.
  </p>
  <p>
    Il sogno è quello di raccontare i nostri sentimenti, la quotidianità e i
    momenti di svago, attraverso la musica.
  </p>
  <p>
    Il nostro obiettivo è quello di far immedesimare l'ascoltatore, ma anche
    portare temi diversi dai soliti testi incentrati sul denaro, droghe e donne.
  </p>
  <p>Di cosa ci occupiamo al momento?</p>
  <p>
    Nell'attesa di migliorare nella scrittura dei testi, ci occupiamo nella
    creazione di beat.
  </p>

  <p>Dove ci potete trovare?</p>
  <p>
    Instagram:
    <a href="https://www.instagram.com/movimentodbb/"
      >https://www.instagram.com/movimentodbb/</a
    >
  </p>
  <p>Sito:</p>
</div>
